<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css File  -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Instructors</title>
</head>

<body>

    <div layout:fragment="content1">
        <div class="container p-5">
            <div class="card bg-transparent">
                <div class="card-header bg-dark text-light">List of Instructors</div>
                <div class="card-body">
                    <form action="#" method="get" th:action="@{index}">
                        <p>Add new Instructor </p>
                        <a th:href="@{/instructors/formCreate}">formCreate</a>
                        <label for="">Keyword</label>
                        <input type="text" name="keyword" th:value="${keyword}">
                        <button type="submit" class="btn btn-sm btn-info">Search</button>

                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>Instructor Id</th>
                                <th>Instructor First Name</th>
                                <th>Instructor Last Name</th>
                                <th>Summary</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" th:each="instructor , stat : ${instructorsList}">

                                <!-- //<td th:text="${stat.index} + 1"></td> -->
                                <td th:text="${instructor.getInstructorId()}"></td>
                                <td th:text="${instructor.getFirstName}"></td>
                                <td th:text="${instructor.getLastName}"></td>
                                <td th:text="${instructor.getSummary()}"></td>
                                <td>
                                    <div class="d-flex justify-content-between gap-2">
                                        <a class="btn btn-danger btn-sm"
                                            onclick="return confirm('Are you Sure you want to delete the instructor?')"
                                            th:href="@{/instructors/delete(instructorId=${instructor.getInstructorId()},keyword=${keyword})}">Delete</a>
                                        <a class="btn btn-info btn-sm"
                                            th:href="@{/instructors/formUpdate(instructorId=${instructor.getInstructorId()},keyword=${keyword})}">Update</a>
                                    </div>
                                </td>
                                <td>
                                    <a th:href="@{/courses/instructor(instructorId=${instructor.getInstructorId()})}"
                                        class="btn btn-sm btn-secondary">Courses</a>
                                </td>
                            </tr>
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>